@model PagedResult<CaseVM> ;
@{
    ViewData["Title"] = "Case";

}
<!--breadcrumb-->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active" ><a asp-controller="Home" asp-action="Case">@ViewData["Title"]</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!--breadcrumb-->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside" id="box">
                    <h3 class="aside-title">Brand</h3>
                    <div class="checkbox-filter cursor-pointer">
                        @foreach (BrandVM brandVM in ViewBag.BrandNamesAndNumbers)
                        {
                            <div class="input-checkbox " style="display:flex">
                                <input type="checkbox" class="Kabear6" value="@brandVM.BrandName" id="@brandVM.BrandName">
                                <label for="@brandVM.BrandName">
                                    <span></span>
                                    @brandVM.BrandName
                                    <small>(@brandVM.BrandNum)</small>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <section id="Case">
                        <h3 class="aside-title">Price</h3>
                        <div class="price-filter">
                            <div id="price-slider"style="cursor:pointer"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number">
                                <span class="qty-up case-up" id="Fup">+</span>
                                <span class="qty-down case-down" id="Sup">-</span>
                            </div>

                            <div class="input-number price-max">
                                <input id="price-max" type="number">
                                <span class="qty-up case-up" id="Fdown">+</span>
                                <span class="qty-down case-down" id="Sdown">-</span>
                            </div>
                        </div>
                    </section>
                   
                </div>
                <!-- /aside Widget -->
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select id="CasePrice" class="input-select">
                                <option selected disabled>Price</option>
                                <option value="1">High To Low</option>
                                <option value="2">Low To High</option>
                            </select>
                        </label>
                        <label>
                            Show:
                            <select id="CaseProduct" class="input-select add">
                                <option selected value="@ViewData["PageSize"]">Default</option>
                                <option value="2">2</option>
                                <option value="5">5</option>
                            </select>
                        </label>
                    </div>
                </div>
                <!-- store products -->
                <div id="data" class="row my-4">
                    <!-- /store top filter -->
                    <!-- product -->
                    @if (Model.Data.Count() > 0)
                    {
                        @foreach (CaseVM CVM in Model.Data)
                        {
                            <div class="col-md-4" style="margin-bottom:6%">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/img/product01.png" alt="">
                                        @*<div class="product-label">
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>
                                            </div>*@
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><a href="#">@CVM.CaseName</a></h3>
                                        <h4 class="product-price"><span class="price">@CVM.CasePrice LE</span> <del class="product-old-price">@(CVM.CasePrice + 100) LE</del></h4>
                                        <div class="product-rating">
                                            @for (var i = 1; i < Decimal.Round(CVM.CaseRate, 1); i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            @for (var i = Decimal.Round(CVM.CaseRate, 1); i <= 5; i++)
                                            {
                                                @if (Decimal.Round(CVM.CaseRate, 1) != 0)
                                                {
                                                    @if (Math.Floor((i - Math.Floor(i)) * 10) == 0 && i == Decimal.Round(CVM.CaseRate, 1))
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else if (Math.Floor((i - Math.Floor(i)) * 10) >= 5 && i == Decimal.Round(CVM.CaseRate, 1))
                                                    {
                                                        <i class="fa fa-star-half-o" style="color: #D10024"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star-o" style="color: #D10024"></i>
                                                    }
                                                }
                                                else
                                                {
                                                    if (i < 5)
                                                    {
                                                        <i class="fa fa-star-o" style="color: #D10024"></i>
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="product-btns">
                                            @if(@CVM.WishList == true){
                                                <button onclick="AddOrDeleteWL('@CVM.CaseCode' ,'Delete')" class="add-to-wishlist"><i style="color: #D10024" class="fa fa-heart"></i><span class="tooltipp">Remove from wishlist</span></button>
                                            }
                                            else
                                            {
                                                <button onclick="AddOrDeleteWL('@CVM.CaseCode' ,'Add')" class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            }
                                            <button onclick="gotoDetails('@CVM.CaseCode')" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            <button onclick="AddToCart({ Image: '@CVM.Image', Name: '@CVM.CaseName', Code: '@CVM.CaseCode', Price: @CVM.CasePrice , Quantity: 1 ,DBQuantity : @CVM.CaseQuantity })" data-toggle="blog-tags" data-placement="top" title="Add TO CART">
                                                <i class="fa fa-shopping-cart"></i><span class="tooltipp">add to Cart</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- /product -->
                </div>


                <!-- /store products -->
                <!-- Pagnation -->
                <div class="store-filter clearfix my-4">
                    <div class="pagination paging">
                        <cs-pager cs-paging-pagenumber=@(int)Model.PageNumber
                                  cs-paging-pagesize=@(int)Model.PageSize
                                  cs-paging-totalitems=@(int)Model.TotalItems
                                  asp-action="Case"
                                  asp-controller="Home"
                                  cs-pager-li-current-class="page-item active"
                                  cs-pager-li-other-class="page-item"
                                  cs-pager-li-non-active-class="page-item disabled"
                                  cs-pager-link-current-class="page-link"
                                  cs-pager-link-other-class="page-link">
                        </cs-pager>
                    </div>
                </div>
                <!-- /Pagnation -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- /SECTION -->
</div>


<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/slick.min.js"></script>

<script src="~/js/jquery.zoom.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>

$(document).ready(function() {


    //////WishList Message after reloading the page
    var WlMsg = getItemStorage('WishListMsg');
    //the storage methods in Wonder.js

    if (WlMsg == "deletedFromWL") {
        toastr.success('Deleted Done.', '', { timeOut: 7000 });
        removeStorage('WishListMsg');
    }
    if (WlMsg == "addedToWL") {
        toastr.success('Product successfully added to your wishlist', '', { timeOut: 7000 });
        removeStorage('WishListMsg');
    }


});
</script>
