@model PagedData<GraphicsCardVM>
@{
    ViewData["Title"] = "GraphicsCard";

}
@section Services{
    <style>
        .toggle {
            background-color: #d10024 !important;
            color: #fff;
        }
    </style>
}
<!--breadcrumb-->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a a asp-area="" asp-controller="Home" asp-action="GraphicsCard">@ViewData["Title"]</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!--breadcrumb-->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside" id="box">
                    <h3 class="aside-title">Brand</h3>
                    <div class="checkbox-filter cursor-pointer">
                        @foreach (BrandVM brandVM in ViewBag.BrandNamesAndNumbers)
                        {
                            <div class="input-checkbox " id="checkbox" style="display:flex">
                                <input type="checkbox" value="@brandVM.BrandName" class="Kabear5" id="@brandVM.BrandName">
                                <label for="@brandVM.BrandName">
                                    <span></span>
                                    @brandVM.BrandName
                                    <small>(@brandVM.BrandNum)</small>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <section id="GCard">
                        <h3 class="aside-title">Price</h3>
                        <div class="price-filter">
                            <div id="price-slider" style="cursor:pointer"></div>
                            <div class="input-number">
                                <input id="price-min" type="number">
                                <span class="qty-up GCard-up">+</span>
                                <span class="qty-down GCard-down">-</span>
                            </div>

                            <div class="input-number">
                                <input id="price-max" type="number">
                                <span class="qty-up GCard-up">+</span>
                                <span class="qty-down GCard-down">-</span>
                            </div>
                        </div>
                    </section>


                </div>

                <!-- /aside Widget -->
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select id="CardPrice" class="input-select">
                                <option selected disabled>Price</option>
                                <option value="1">High To Low</option>
                                <option value="2">Low To High</option>
                            </select>
                        </label>
                        <label>
                            Show:
                            <select id="CardProduct" class="input-select add">
                                <option selected value="@ViewData["PageSize"]">Default</option>
                                <option value="2">2</option>
                                <option value="5">5</option>
                            </select>
                        </label>
                    </div>
                </div>
                <!-- store products -->
                <div id="card" class="row my-4">
                    @if (Model.Data.Count() > 0)
                    {
                        @foreach (GraphicsCardVM card in Model.Data)
                        {
                            <div class="col-md-4" style="margin-bottom:6%">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/img/product01.png" alt="">
                                        @*<div class="product-label">
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>
                                            </div>*@
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name" style="font-size: 1.2rem;"><a href="#">@card.Vganame</a></h3>
                                        <h4 class="product-price"><span class="price">@card.Vgaprice LE</span> <del class="product-old-price">@(card.Vgaprice + 100) LE</del></h4>
                                        <div class="product-rating">
                                            @for (var i = 1; i < Decimal.Round(card.Vgarate, 1); i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            @for (var i = Decimal.Round(card.Vgarate, 1); i <= 5; i++)
                                            {
                                                @if (Decimal.Round(card.Vgarate, 1) != 0)
                                                {
                                                    @if (Math.Floor((i - Math.Floor(i)) * 10) == 0 && i == Decimal.Round(card.Vgarate, 1))
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else if (Math.Floor((i - Math.Floor(i)) * 10) >= 5 && i == Decimal.Round(card.Vgarate, 1))
                                                    {
                                                        <i class="fa fa-star-half-o" style="color: #D10024"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star-o" style="color: #D10024"></i>
                                                    }
                                                }
                                                else
                                                {
                                                    if (i < 5)
                                                    {
                                                        <i class="fa fa-star-o" style="color: #D10024"></i>
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="product-btns">
                                           @if(@card.WishList == true){
                                               <button onclick="AddOrDeleteWL('@card.Vgacode' ,'Delete')" class="add-to-wishlist"><i style="color: #D10024" class="fa fa-heart"></i><span class="tooltipp">Remove from wishlist</span></button>
                                           }
                                           else
                                           {
                                               <button onclick="AddOrDeleteWL('@card.Vgacode' ,'Add')" class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                           }
                                            <button onclick="gotoDetails('@card.Vgacode')" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            <button onclick="AddToCart({ Image:'@card.Image', Name: '@card.Vganame', Code: '@card.Vgacode', Price: @card.Vgaprice ,Quantity: 1})" data-toggle="blog-tags" data-placement="top" title="Add TO CART">
                                                <i class="fa fa-shopping-cart"></i><span class="tooltipp">add to Cart</span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>


                <!-- /store products -->
                <!-- Pagnation -->
                <div class="store-filter clearfix my-4">
                    <ul class="store-pagination" id="paginCard">
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == 1)
                            {
                                <li class="toggle">@i</li>

                            }
                            else
                            {
                                <li>@i</li>
                            }
                        }


                    </ul>

                </div>
                <!-- /Pagnation -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- /SECTION -->
</div>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/slick.min.js"></script>

<script src="~/js/jquery.zoom.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>

    $(document).ready(function () {

        //////WishList Message after reloading the page
        var WlMsg = getItemStorage('WishListMsg');
        //the storage methods in Wonder.js

        if (WlMsg == "deletedFromWL") {
            toastr.success('Deleted Done.', '', { timeOut: 7000 });
            removeStorage('WishListMsg');
        }
        if (WlMsg == "addedToWL") {
            toastr.success('Product successfully added to your wishlist', '', { timeOut: 7000 });
            removeStorage('WishListMsg');
        }

        $("#paginCard li").click(function () {
            debugger;
            $(this).addClass("toggle").siblings().removeClass("toggle");
            var val = parseInt($(this).text()),
                $html = '';
            $.ajax({
                url: '/Home/CardAjax?PageNumber=' + val,
                type: "GET",
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    $("#ram").empty();
                    $.each(result, function (i, e) {
                        $html += '<div class="col-md-4" style = "margin-bottom:6%" >' +
                            '<div class="product">' +
                            '<div class="product-img">' +
                            '<img src="/img/product01.png" alt="">' +

                            '</div>' +
                            '<div class="product-body">' +
                            '<h3 class="product-name"><a href="#" style="font-size: 1.2rem;">' + e.vganame + '</a></h3>' +
                            '<h4 class="product-price"><span class="price">' + e.vgaprice + ' LE</span>' +
                            '<del class="product-old-price" > ' + (e.vgaprice + 100) + ' LE</del ></h4 >' +
                            '<div class="product-rating">';
                        debugger;
                        var length=parseInt(Math.round(e.vgarate, 1));
                        for (var i = 1; i < length; i++) {
                            $html += '<i class="fa fa-star"></i> ';
                        }
                        for (var i =length; i <= 5; i++) {
                            if (Math.round(e.vgarate, 1) != 0) {
                                if (Math.floor((i - Math.floor(i)) * 10) == 0 && i == Math.round(e.vgarate, 1)) {
                                    $html += '<i class="fa fa-star"></i> ';
                                }
                                else if (Math.floor((i - Math.floor(i)) * 10) >= 5 && i == Math.round(e.vgarate, 1)) {
                                    $html += '<i class="fa fa-star-half-o" style="color: #D10024"></i> ';
                                }
                                else {
                                    $html += '<i class="fa fa-star-o" style="color: #D10024"></i> ';
                                }
                            }
                            else {
                                if (i < 5) {
                                    $html += '<i class="fa fa-star-o" style="color: #D10024"></i> ';
                                }
                            }
                        }
                        debugger;
                        $html += '</div>' +
                        
                            '<div class="product-btns">' +
                            '<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>' +
                            '<button onclick="gotoDetails(' + "'" + e.vgacode + "'" + ')" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>' +
                            '<button onclick="AddToCart({ Image:' + "'" + e.image + "'" + ', Name:' + "'" + e.vganame + "'" + ', Code:' + "'" + e.vgacode + "'" + ', Price:' + e.vgaprice + ', Quantity: 1 })" data-toggle="blog-tags" data-placement="top" title="Add TO CART">' +
                            '<i class="fa fa-shopping-cart"></i><span class="tooltipp">add to Cart</span></button>' +

                            ' </div>' +
                            '</div>' +

                            '</div > ' +
                            ' </div>';
                    })
                    $('#card').html($html);

                }

            });
        });

    });

</script>