@{
    ViewData["Title"] = "Home";

}

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{ 
    if (HttpContextAccessor.HttpContext.Session.GetInt32("UserID") == null)
    {
        //Session ended
        //Response.Redirect("/Home/Index");
    }
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/img/Index/Processor.jpg" style="height:250px">
                    </div>
                    <div class="shop-body">
                        <h3>Processor<br>Collection</h3>
                        <a href="/home/Processor" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
               
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/img/Index/Ram.jpg" style="height:250px">
                    </div>
                    <div class="shop-body">
                        <h3>Ram<br>Collection</h3>
                        <a href="/home/RAM" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/img/Index/vga.jpg" style="height:250px">
                    </div>
                    <div class="shop-body">
                        <h3>Graphics Card<br>Collection</h3>
                        <a href="/home/GraphicsCard" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active" ><a id="li1" data-toggle="tab" href="#">Motherboard</a></li>
                            <li><a id="li2" data-toggle="tab" href="#">Processor</a></li>
                            <li><a id="li3" data-toggle="tab" href="#">Ram</a></li>
                            <li><a id="li4" data-toggle="tab" href="#">Graphics Card</a></li>
                            <li><a id="li5" data-toggle="tab" href="#">Hard Disk</a></li>
                            <li><a id="li6" data-toggle="tab" href="#">SSD</a></li>
                            <li><a id="li7" data-toggle="tab" href="#">Power Supply</a></li>
                            <li><a id="li8" data-toggle="tab" href="#">Case</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                    <div class="product" id="newmotherboards">
                                    </div>
                                <!-- /product -->
                            </div>
                            @*<div id="slick-nav-1" class="products-slick-nav"></div>*@
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                        <!-- tab -->
                        <div id="tab2" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="">
                                </div>
                                <!-- /product -->
                            </div>
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                        <!-- tab -->
                        <div id="tab3" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="">
                                </div>
                                <!-- /product -->
                            </div>
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                        <!-- tab -->
                        <div id="tab4" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="">
                                </div>
                                <!-- /product -->
                            </div>
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                        <!-- tab -->
                        <div id="tab5" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="">
                                </div>
                                <!-- /product -->
                            </div>
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                        <!-- tab -->
                        <div id="tab6" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="">
                                </div>
                                <!-- /product -->
                            </div>
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                        <!-- tab -->
                        <div id="tab7" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="">
                                </div>
                                <!-- /product -->
                            </div>
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                        <!-- tab -->
                        <div id="tab8" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product" id="">
                                </div>
                                <!-- /product -->
                            </div>
                            <a id="atag" href="#" onclick="location.href='@Url.Action("Store")'" style="color: #D10024; float: right;"><strong>Show All Products >></strong></a>

                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<div>
    <img src="~/img/Index/rtx.jpg" style="width:100%;height:500px" />
</div>
<!-- SECTION topsalling -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Top selling</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab2">Motherboard</a></li>
                            <li><a data-toggle="tab" href="#tab2">Processor</a></li>
                            <li><a data-toggle="tab" href="#tab2">Ram</a></li>
                            <li><a data-toggle="tab" href="#tab2">Graphics Card</a></li>
                            <li><a data-toggle="tab" href="#tab2">Hard Disk</a></li>
                            <li><a data-toggle="tab" href="#tab2">SSD</a></li>
                            <li><a data-toggle="tab" href="#tab2">Power Supply</a></li>
                            <li><a data-toggle="tab" href="#tab2">Case</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/product06.png" alt="">
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/product07.png" alt="">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/product08.png" alt="">
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                        <div class="product-rating">
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/product09.png" alt="">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="./img/product01.png" alt="">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Category</p>
                                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    </div>
                                </div>
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/jquery.zoom.min.js"></script>
<script src="~/js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        var Product = '';
        $('#atag').hover(function () {
            $(this).css('color', '#aaa');
        });
        $('#atag').mouseout(function () {
            $(this).css('color', '#D10024');
        });
        $('#li1').click(function () {
            var html = '';
            Product = 'M';
            debugger;
            $.ajax({
                type: "Get",
                url: "/Home/GetNewProduct?Product=" + Product,
                dataType: "json",
                success: function (result) {
                    debugger;
                    $.each(result, function (key, item) {
                        html += '<div class="product-img">';
                        html += '<img src="./img/' + item.Image + '" alt= "" >';
                        html += '<div class="product-label">';
                        html += '<span class="new">NEW</span>';
                        html += '</div >';
                        html += '</div >';
                        html += '<div class="product-body">';
                        html += '<h3 class="product-name"><a href="#">' + item.MotherName + '</a ></h3 >';
                        html += '<h4 class="product-price">' + item.MotherPrice +'<span>LE</span></h4>';
                        html += '<div class="product-rating">';
                        html += '<i class="fa fa-star"></i>';
                        html += '<i class="fa fa-star"></i>';
                        html += '<i class="fa fa-star"></i>';
                        html += '<i class="fa fa-star"></i>';
                        html += '<i class="fa fa-star"></i>';
                        html += '</div>';
                        html += '<div class="product-btns">';
                        html += '<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>';
                        html += '<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>';
                        html += '<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>';
                        html += '<button onclick="AddToCart({ Image:' + "'" + item.Image + "', Name:'" + item.MotherName + "', Code: '" + item.MotherCode + "', Price: " + item.MotherPrice +',Quantity: 1})" data-toggle="blog-tags" data-placement="top" title="Add TO CART">';
                        html += '<i class="fa fa-shopping-cart"></i><span class="tooltipp">add to Cart</span>';
                        html += '</button>';
                        html += '</div>';
                        html += '</div>';
                    });
                    $('#newmotherboards').html(html);
                }
            });
        });
    });

    function AddToCart(Product) {
        debugger;
        var cart = getItemStorage("Cart") || [];
        let counter = 0;
        if (cart.length == 0) {
            setItemStorage("Cart", cart);
            addValueToItemStorage("Cart", Product);
            toastr.success('Done', '', { timeOut: 7000 });
        }
        else {
            $.each(cart, function (key, item) {
                if (!(item.Code == Product.Code)) {
                    counter++;
                    if (counter == cart.length) {
                        setItemStorage("Cart", cart);
                        addValueToItemStorage("Cart", Product);
                        toastr.success('Done', '', { timeOut: 7000 });
                    }
                }
                else {
                    toastr.error('You Choose This Product Before!!', '', { timeOut: 7000 });
                }
            });

        }
    }
    //start statement of LocalStorage
    function setItemStorage(itemKey, itemValue) {
        localStorage.setItem(itemKey, JSON.stringify(itemValue));
    }
    function getItemStorage(itemKey) {
        return JSON.parse(localStorage.getItem(itemKey));
    }
    function addValueToItemStorage(itemKey, val) {
        let item = getItemStorage(itemKey);
        item.push(val);
        setItemStorage(itemKey, item);
    }
</script>