@model PagedData<ProcessorVM>
@{
    ViewData["Title"] = "Processors";


}
@section Services{
    <style>
        .toggle {
            background-color: #d10024 !important;
            color: #fff;
         
        }
    </style>
}
<!--breadcrumb-->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a a asp-area="" asp-controller="Home" asp-action="Motherboard">@ViewData["Title"]</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!--breadcrumb-->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside" id="box">
                    <h3 class="aside-title">Brand</h3>
                    <div class="checkbox-filter cursor-pointer">
                        @foreach (BrandVM brandVM in ViewBag.BrandNamesAndNumbers)
                        {
                            <div class="input-checkbox " id="checkbox" style="display:flex">
                                <input type="checkbox" value="@brandVM.BrandName" class="Kabear" id="@brandVM.BrandName">
                                <label for="@brandVM.BrandName">
                                    <span></span>
                                    @brandVM.BrandName
                                    <small>(@brandVM.BrandNum)</small>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <!-- /aside Widget -->
                <!-- aside Widget -->
                <div class="aside">
                    <section id="processor">
                        <h3 class="aside-title">Price</h3>
                        <div class="price-filter">
                            <div id="price-slider" style="cursor:pointer"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number">
                                <span class="qty-up Processor-up">+</span>
                                <span class="qty-down Processor-down">-</span>
                            </div>

                            <div class="input-number price-max">
                                <input id="price-max" type="number">
                                <span class="qty-up Processor-up">+</span>
                                <span class="qty-down Processor-down">-</span>
                            </div>
                        </div>
                    </section>


                </div>

                <!-- /aside Widget -->
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->
            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select id="ProcessorPrice" class="input-select">
                                <option selected disabled>Price</option>
                                <option value="1">High To Low</option>
                                <option value="2">Low To High</option>
                            </select>
                        </label>
                        <label>
                            Show:
                            <select id="ProcessorProduct" class="input-select add">
                                <option selected value="@ViewData["PageSize"]">Default</option>
                                <option value="2">2</option>

                                <option value="5">5</option>
                            </select>
                        </label>
                    </div>
                </div>
                <!-- store products -->
                <div id="data" class="row my-4">
                    @if (Model.Data.Count() > 0)
                    {
                        @foreach (ProcessorVM processor in Model.Data)
                        {
                            <div class="col-md-4" style="margin-bottom:6%">
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/img/product01.png" alt="">
                                        @*<div class="product-label">
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>
                                            </div>*@
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-name"><a href="#">@processor.ProName</a></h3>
                                        <h4 class="product-price"><span class="price">@processor.ProPrice LE</span> <del class="product-old-price">@(processor.ProPrice + 100) LE</del></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            <button onclick="AddToCartMother({ Image: '@processor.Image', Name: '@processor.ProPrice', Code: '@processor.ProPrice', Price: @processor.ProName ,Quantity: 1})" data-toggle="blog-tags" data-placement="top" title="Add TO CART">
                                                <i class="fa fa-shopping-cart"></i><span class="tooltipp">add to Cart</span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>


                <!-- /store products -->
                <!-- Pagnation -->
                <div class="store-filter clearfix my-4">
                    <ul class="store-pagination" id="pagin">
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == 1)
                            {
                                <li class="toggle">@i</li>

                            }
                            else
                            {
                                <li>@i</li>
                            }
                        }


                    </ul>

                </div>
                <!-- /Pagnation -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- /SECTION -->
</div>

<script src="~/js/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        $("#pagin li").click(function () {
            debugger;
            $(this).addClass("toggle").siblings().removeClass("toggle");
            var val = parseInt($(this).text()),
                html = '';
            $.ajax({
                url: '/Home/ProcessorAjax?PageNumber=' + val,
                type: "GET",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    console.log(response);
                    $("#data").empty();
                    $.each(response, function (i, value) {
                       
                            html += '<div class="col-md-4" style = "margin-bottom:6%" >' +
                                '<div class="product">' +
                                '<div class="product-img">' +
                                '<img src="/img/product01.png" alt="">' +

                                '</div>' +
                                '<div class="product-body">' +
                                '<h3 class="product-name"><a href="#">' + value.proName + '</a></h3>' +
                                '<h4 class="product-price"><span class="price">' + value.proPrice + ' LE</span>' +
                                '<del class="product-old-price" > ' + (value.proPrice + 100) + ' LE</del ></h4 >' +
                                '<div class="product-rating">' +
                                '<i class="fa fa-star"></i>' +
                                '<i class="fa fa-star"></i>' +
                                ' <i class="fa fa-star"></i>' +
                                ' <i class="fa fa-star"></i>' +
                                '<i class="fa fa-star"></i>' +
                                '</div>' +
                                '<div class="product-btns">' +
                                ' <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>' +
                                '<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>' +
                                ' <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>' +
                                ' <button onclick="AddToCartProcessor({Image:' + value.image + ', Name:' + value.proName + ', Code: ' + value.proCode + ', Price: ' + value.proPrice + ' ,Quantity:' + 1 + '})" data-toggle="blog-tags" data-placement="top" title="Add TO CART">' +
                                '<i class="fa fa-shopping-cart"></i><span class="tooltipp">add to Cart</span></button>' +
                                ' </div>' +
                                '</div>' +
                                '</div > ' +
                                ' </div>';
                        })
                        $('#data').html(html);
                       
                   


                }

            });
        });

    });

</script>