@model BLL.ViewModel.RamVM
@{ var Rams = ViewBag.PowerSupply;
    var Rate = Decimal.Round((decimal)Model.RamRate, 1);
    var rate5 = ((decimal)Model.RateCount.Where(x => x.Rate == 5).Select(x => x.Count).FirstOrDefault() / Model.RateCount.Where(x => x.Rate != 0).Sum(x => x.Count)) * 100;
    var rate4 = ((decimal)Model.RateCount.Where(x => x.Rate == 4).Select(x => x.Count).FirstOrDefault() / Model.RateCount.Where(x => x.Rate != 0).Sum(x => x.Count)) * 100;
    var rate3 = ((decimal)Model.RateCount.Where(x => x.Rate == 3).Select(x => x.Count).FirstOrDefault() / Model.RateCount.Where(x => x.Rate != 0).Sum(x => x.Count)) * 100;
    var rate2 = ((decimal)Model.RateCount.Where(x => x.Rate == 2).Select(x => x.Count).FirstOrDefault() / Model.RateCount.Where(x => x.Rate != 0).Sum(x => x.Count)) * 100;
    var rate1 = ((decimal)Model.RateCount.Where(x => x.Rate == 1).Select(x => x.Count).FirstOrDefault() / Model.RateCount.Where(x => x.Rate != 0).Sum(x => x.Count)) * 100;
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .sidebar {
            height: 35px;
            width: 54px;
            background-color: #fff0;
            border-radius: 5px;
            position: absolute;
            top: 82%;
            left: 174px;
            transform: translateX(-50px);
            margin-top: 5px;
        }

        .icon-box {
            width: 34px;
            height: 24px;
            display: flex;
            justify-content: flex-start;
            margin: 5px auto;
        }

        .side-text {
            min-width: 0px;
            background: #FFF;
            margin-right: 5px;
            line-height: 13px;
            color: #D10024;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            overflow: hidden;
            transition: 0.5s;
            text-align: center;
        }

        .errorIcon {
            min-width: 30px;
            height: 100%;
            border-radius: 30px;
            cursor: pointer;
            writing-mode: vertical-lr;
        }

            .errorIcon .fa {
                font-size: 16px;
                color: #D10024;
                line-height: 50px;
            }


        .icon-box:hover .side-text {
            min-width: 140px;
        }
    </style>
</head>

<body>

    <!-- BREADCRUMB -->
    <input id="ProCode" value="@Model.RamCode" hidden />
    <input id="ProQty" value="@Model.RamQuantity" hidden />

    <br />
    <br />
    <br />

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="~/img/product01.png" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="~/img/product03.png" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="~/img/product06.png" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="~/img/product08.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->
                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="~/img/product01.png" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="~/img/product03.png" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="~/img/product06.png" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="~/img/product08.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->
                <!-- Product details -->
                <br /><br /><br />


                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">@Model.RamName</h2>
                        <div>
                            <div class="product-rating" id="rate">
                            </div>
                            @if (Model.Reviews != null)
                            {
                                <a data-toggle="tab" href="#tab3">@Model.Reviews.Count() Review(s) | Add your review</a> }
                            else
                            {
                                <a data-toggle="tab" href="#tab3">0 Review | Add your review</a>
                            }
                        </div>
                        <div>
                            <h3 class="product-price">$@Model.RamPrice <del class="product-old-price">$@(Model.RamPrice - 10)</del></h3>
                            <span class="product-available" id="stock">In Stock</span>
                        </div>
                        <br />
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number" id="qty">
                                    <input id="txtquantity" value="1" type="number" min="1" max="@Model.RamQuantity">
                                    <span id="spanplus" class="qty-up">+</span>
                                    <span id="spanminus" class="qty-down">-</span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn" id="btnaddtocart" onclick="AddToCart({ Image: '@Model.Image', Name: '@Model.RamName', Code: '@Model.RamCode', Price: @Model.RamPrice , Quantity: 1 })"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>

                        <ul class="product-btns">
                            <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                            <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                        </ul>

                        <ul class="product-links">
                            <li>Brands:</li>
                            <li><a href="#">@Model.BrandName</a></li>
                        </ul>

                        <ul class="product-links">
                            <li>Share:</li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->
                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            @if (Model.Reviews != null)
                            {
                                <li><a data-toggle="tab" href="#tab3">Reviews (@Model.Reviews.Count())</a></li>
                            }
                            else
                            {
                                <li><a data-toggle="tab" href="#tab3">Reviews (0)</a></li>
                            }
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-dark" style="width:75% ; margin-left:15% ; text-align:center">
                                            <tr>
                                                <th>Size</th>
                                                <th>Frequency</th>
                                                <th>Type</th>
                                                <th>kits</th>
                                            </tr>
                                            <tr>
                                                <td>@Model.RamSize</td>
                                                <td>@Model.RamFrequency</td>
                                                <td>@Model.RamType</td>
                                                <td>@Model.Ramkits</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab3  -->
                            <div id="tab3" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            @if (Model.RateCount != null)
                                            {
                                                <div class="rating-avg">
                                                    <span>@Rate </span>
                                                    <div class="rating-stars">
                                                        @for (var i = 1; i < Rate; i++)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                        }
                                                        @for (var i = Rate; i <= 5; i++)
                                                        {
                                                            @if (Math.Floor((i - Math.Floor(i)) * 10) == 0 && i == Rate)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                            else if (Math.Floor((i - Math.Floor(i)) * 10) >= 5 && i == Rate)
                                                            {
                                                                <i class="fa fa-star-half-o" style="color: #D10024"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="fa fa-star-o" style="color: #D10024"></i>
                                                            }

                                                        }
                                                    </div>

                                                </div>

                                                <ul class="rating">
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: @rate5%"></div>
                                                        </div>
                                                        <span class="sum">@Model.RateCount.Where(x => x.Rate == 5).Select(x => x.Count).FirstOrDefault()</span>
                                                    </li>


                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: @rate4%;"></div>
                                                        </div>
                                                        <span class="sum">@Model.RateCount.Where(x => x.Rate == 4).Select(x => x.Count).FirstOrDefault()</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: @rate3%;"></div>
                                                        </div>
                                                        <span class="sum">@Model.RateCount.Where(x => x.Rate == 3).Select(x => x.Count).FirstOrDefault()</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: @rate2%;"></div>
                                                        </div>
                                                        <span class="sum">@Model.RateCount.Where(x => x.Rate == 2).Select(x => x.Count).FirstOrDefault()</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div style="width: @rate1%;"></div>
                                                        </div>
                                                        <span class="sum">@Model.RateCount.Where(x => x.Rate == 1).Select(x => x.Count).FirstOrDefault()</span>
                                                    </li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <div class="rating-avg">
                                                    <span>0</span>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <ul class="rating">
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>
                                                    <li>
                                                        <div class="rating-stars">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <div class="rating-progress">
                                                            <div></div>
                                                        </div>
                                                        <span class="sum">0</span>
                                                    </li>

                                                </ul>
                                            }
                                        </div>
                                    </div>
                                    <!-- /Rating -->
                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            @if (Model.Reviews != null)
                                            {
                                                <ul class="reviews">
                                                    @foreach (var item in Model.Reviews)
                                                    {
                                                        <li>
                                                            <div class="review-heading">
                                                                <h5 class="name">@item.CustomerName</h5>
                                                                <p class="date">@item.DateAndTime</p>

                                                                <div class="review-rating">
                                                                    @for (var i = 1; i <= item.Rate; i++)
                                                                    {
                                                                        <i class="fa fa-star"></i>}
                                                                    @for (var i = item.Rate; i < 5; i++)
                                                                    {
                                                                        <i class="fa fa-star-o empty"></i>}
                                                                </div>

                                                            </div>
                                                            <div class="review-body">
                                                                <p>@item.Comment</p>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                                <ul class="reviews" id="newreviews">
                                                </ul>
                                                <ul class="reviews-pagination">
                                                    <li class="active">1</li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                                </ul> }
                                            else
                                            {
                                                <div style="text-align: center;">
                                                    <img src="~/img/Index/comments.PNG" />
                                                    <h3>This Product Has no Reviews</h3>
                                                    <h5>Add your Review if you want </h5>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <!-- /Reviews -->
                                    <!-- Review Form -->
                                    <div class="col-md-3">
                                        <div id="review-form">
                                            <div class="review-form">
                                                <input class="input" type="text" id="txtcode" value="@Model.RamCode" placeholder="Your Name" hidden>
                                                <input class="input" type="text" id="txtname" placeholder="Your Name" style="margin-bottom:0px">
                                                <span id="validname" style="display: none; font-size: 13px; color: #D10024">Name is required</span>
                                                <textarea style="margin-top:15px" class="input" id="txtcomment" placeholder="Your Review"></textarea>
                                                <div class="input-rating">
                                                    <span>Your Rating: </span>
                                                    <div class="stars">
                                                        <input id="star5" name="Rate" value="5" type="radio"><label for="star5"></label>
                                                        <input id="star4" name="Rate" value="4" type="radio"><label for="star4"></label>
                                                        <input id="star3" name="Rate" value="3" type="radio"><label for="star3"></label>
                                                        <input id="star2" name="Rate" value="2" type="radio"><label for="star2"></label>
                                                        <input id="star1" name="Rate" value="1" type="radio"><label for="star1"></label>
                                                    </div>
                                                </div>
                                                <button id="btnaddreview" class="primary-btn">Submit</button>
                                                <div id="error" class="sidebar" hidden>
                                                    <div class="icon-box">
                                                        <div class="errorIcon" style="text-align:center">
                                                            <i class="fa fa-exclamation-triangle" style="margin-left: -9px;"></i>
                                                        </div>
                                                        <div id="errortxt" class="side-text">
                                                            Add Comment Or Set Rate Or Both
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                                </div>
                            </div>
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- Section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h3 class="title">Related Products</h3>
                    </div>
                </div>
                @foreach (var item in Rams)
                {
                    <div class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="~/img/product01.png" alt="">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <h3 class="product-name"><a href="#">@item.RamName</a></h3>
                                <h4 class="product-price">@item.RamPrice LE</h4>
                                <div class="product-rating">
                                </div>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                    <button onclick="AddToCart({ Image:'@item.Image', Name: '@item.RamName', Code: '@item.RamCode', Price: @item.RamPrice ,Quantity: 1 })" data-toggle="blog-tags" data-placement="top" title="Add TO CART">
                                        <i class="fa fa-shopping-cart"></i><span class="tooltipp">add to Cart</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>}
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Section -->

</body>
<!-- jQuery Plugins -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/slick.min.js"></script>
<script src="~/js/nouislider.min.js"></script>
<script src="~/js/jquery.zoom.min.js"></script>
<script src="~/js/main.js"></script>


<script src="//code.jquery.com/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        var html = "";
        if ($('#ProQty').val() == 0) {
            $('#stock').text('Out Of Stock');
            $('#txtquantity').val(0);
            $('#btnaddtocart').css('background-color', 'grey');
            $('#btnaddtocart').addClass('disabled');
            $('#txtquantity').addClass('disabled');
            $('#spanplus').addClass('disabled');
            $('#spanminus').addClass('disabled');
        }
        $('#btnaddreview').click(function () {
            debugger;
            $('#validname').hide();
            $('#validreview').hide();
            $('#error').hide();

            var ProductCode = $('#txtcode').val();
            var CustomerName = $('#txtname').val();
            var Comment = $('#txtcomment').val();
            var Rate = $("div.stars > input:radio:checked").val();
            if (CustomerName == null || CustomerName == "") {
                debugger;
                $('#validname').show();
            }
            if ((Comment == null || Comment == "") && (Rate == null || Rate == "")) {
                $('#error').show();
            }
            else {
                debugger;
                $.ajax({
                    url: "/Home/Review?ProductCode=" + ProductCode +
                        "&CustomerName=" + CustomerName + "&Comment=" + Comment + "&Rate=" + Rate,
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result != null) {
                            $('#txtname').val("");
                            $('#txtcomment').val("");
                            $("div.stars > input:radio:checked").prop("checked", false);
                            //$('#Rate').val(0);
                            html += ' <li class="animate__backInRight">';
                            html += '<div class="review-heading">';
                            html += '<h5 class="name">' + result.customerName + '</h5>';
                            html += '<p class="date">' + result.dateAndTime + '</p>';
                            html += '<div class="review-rating">';
                            for (var i = 1; i <= result.rate; i++) {
                                html += '<i class="fa fa-star"></i>';
                            }
                            for (var i = result.rate; i < 5; i++) {
                                html += '<i class="fa fa-star-o empty"></i>';
                            }
                            html += '</div >';
                            html += '</div>';
                            html += '<div class="review-body">';
                            html += '<p>' + result.comment + '</p>';
                            html += '</div>';
                            html += '</li>';
                            $('#newreviews').html(html);
                        }
                        else {
                            $('#error').show();
                            $('#errortxt').text('Something wrong , please try again');

                        }
                    }
                });
            }

        });
    });
    function AddToCart(Product) {
        var Q = $('#txtquantity').val();
        var code = $('#ProCode').val();
        if (Product.Code != code) {
            //Add related Products to cart
            AddToCart2(Product);
        }
        else if (Product.Code == code && Q > 0) {
            $('#txtquantity').css("border", "1px solid #E4E7ED");
            //Add Product with edit quantity
            Product.Quantity = Q;
            AddToCart2(Product);
        }
        else {
            //Unvaild quantity
            $('#txtquantity').css("border", "2px solid red");
        }

    }
    function AddToCart2(Product) {
        var cart = getItemStorage("Cart") || [];
        let counter = 0;
        if (cart.length == 0) {
            setItemStorage("Cart", cart);
            addValueToItemStorage("Cart", Product);
            toastr.success('Done', '', { timeOut: 7000 });
        }
        else {
            $.each(cart, function (key, item) {
                if (!(item.Code == Product.Code)) {
                    counter++;
                    if (counter == cart.length) {
                        setItemStorage("Cart", cart);
                        addValueToItemStorage("Cart", Product);
                        toastr.success('Done', '', { timeOut: 7000 });
                    }
                }
                else {
                    toastr.error('You Choose This Product Before!!', '', { timeOut: 7000 });
                }
            });

        }
    }

    //start statements of LocalStorage
    function setItemStorage(itemKey, itemValue) {
        localStorage.setItem(itemKey, JSON.stringify(itemValue));
    }
    function getItemStorage(itemKey) {
        return JSON.parse(localStorage.getItem(itemKey));
    }
    function addValueToItemStorage(itemKey, val) {
        let item = getItemStorage(itemKey);
        item.push(val);
        setItemStorage(itemKey, item);
    }

</script>