@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@*user*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Icon-->
    <link type="image/x-icon" href="~/img/favicon.ico" rel="icon" />
    <title>@ViewData["Title"] - WonderHardware</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> @* نفس اللي فوقه؟ *@

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> @*مهم*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet" /> @*مهم*@

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <style>
        #toast-container > .toast-custom {
            content: "\f004";
        }

        .toast-custom {
            background-color: #760216;
        }
    </style>
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +201013955350</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> WonderHardware4@gmail.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i>شارع الجلاء بجوار البنك الاهلي</a></li>
                </ul>
                <ul class="header-links pull-right">

                    <li id="SignRegister" style="display:none"><a href="/Home/Login_Register"><i class="fa fa-sign-in"></i> SignIn / Register</a></li>
                    <li id="UserName" style="display:none">
                        <a>
                            <i class="fa fa-user-o"></i>
                            @HttpContextAccessor.HttpContext.Session.GetString("UserName")
                        </a>
                        &nbsp;
                        |
                    </li>

                    &nbsp;

                    <li id="LogOut" style="display: none"><a href="/Home/LogOut?UserID=@HttpContextAccessor.HttpContext.Session.GetInt32("UserID")"><i class="fa fa-sign-out"></i> LogOut </a></li>


                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">
                                <img src="~/img/Index/logo.png" alt="" style="margin-top:5px" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select id="selectval" class="input-select">
                                    <option value="0">All Categories</option>
                                    <option value="1">MotherBoard</option>
                                    <option value="2">Processor</option>
                                    <option value="3">Ram</option>
                                    <option value="4">SSD</option>
                                    <option value="5">HDD</option>
                                    <option value="6">Case</option>
                                    <option value="7">Power Supply</option>
                                    <option value="8">VGA</option>
                                </select>
                                <input autocomplete="off" id="txtsearch" class="input" placeholder="Search here">
                                <ul id="searchitems" class="dropdown-menu" style="display: none; width: calc(100% - 256px); margin-left: 150px; "></ul>
                                <button id="btnsearch" class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix" style="display: contents;">
                        <div class="header-ctn">
                            <!-- Chat -->
                            <div>
                                <a href="#" onclick="location.href='@Url.Action("Chat")'">
                                    <i class="fa fa-envelope"></i>
                                    <span>Contact Us</span>

                                    <div hidden="hidden" class="qty" id="MessagesCounterr"></div>

                                </a>
                            </div>
                            <!-- /Chat -->
                            <!-- Wishlist -->
                            <div>
                                <a href="#" onclick="location.href='@Url.Action("WishList")'">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Your Wishlist</span>
                                    <div id="wishlistCounter"></div>
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div class="dropdown">
                                <a href="#" onclick="location.href='@Url.Action("Cart")'" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty" id="Counter">0</div>
                                </a>
                                @*<div class="cart-dropdown">
                <div class="cart-list">
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/img/product01.png" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                        </div>
                        <button class="delete"><i class="fa fa-close"></i></button>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="~/img/product02.png" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                        </div>
                        <button class="delete"><i class="fa fa-close"></i></button>
                    </div>
                </div>
                <div class="cart-summary">
                    <small>3 Item(s) selected</small>
                    <h5>SUBTOTAL: $2940.00</h5>
                </div>
                <div class="cart-btns">
                    <a href="#">View Cart</a>
                    <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>*@
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav" id="products">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Motherboard">Motherboard</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Processor" id="pro">Processor</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="HDD">Hdd</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="RAM">Ram</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="GraphicsCard">Graphics Card</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="SSD">SSD</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="PowerSuply">Power Supply</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Case">Case</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    @RenderBody()
    <!-- FOOTER -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">terms & conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.

                    Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                    Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">

        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>

                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>شارع الجلاء بجوار البنك الاهلي</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+201013955350</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>WonderHardware4@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="/Home/Chat">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#exampleModalLong">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="/Home/Cart">View Cart</a></li>
                                <li><a href="/Home/WishList">Wishlist</a></li>
                                <li><a href="/Home/CheckOut">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/Wonder.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @if (IsSectionDefined("Services"))
    {
        { await RenderSectionAsync("Services", true); }

    }
    else
    {
        {
            await RenderSectionAsync("Services", false);
        }
    }
    <style>
    </style>
    <script>
        var userID=@HttpContextAccessor.HttpContext.Session.GetInt32("UserID").GetValueOrDefault();
        "use strict";
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        $(document).ready(function () {
           
            wishlistconnection();
            cartconnection();

            $('#txtsearch').keyup(function () {
                var Number = $('#selectval').val();
                var Search = $('#txtsearch').val();
                $('#searchitems').css("display", "none");
                if (Search == "") {
                    //لو كتبت ومسحت هتبقا فاضيه
                    $('#searchitems').css("display", "none");
                    debugger;
                }
                else {
                    var html = '';
                    var i = 0;
                    $.ajax({
                        url: "/Home/Search?src=" + Search + "&num=" + Number,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            debugger;
                            $.each(result, function (key, item) {
                                if (i < 10) {
                                    html += '<li class="text-truncate"><a href="javascript:gotoDetails(' + "'" + item.productCode + "'" + ')">' + item.productName + '</a></li>';
                                    i++;
                                }
                                else {
                                    html += '<li style="text-align:center;"><a style="background: none;border: none;" href="javascript:GetAllSearch(' + Number + ',';
                                    html += "'"+Search+"')";
                                    html += '">+' + (result.length - 10) + '</a></li> ';
                                    //عايزه اخرج من الإيتش
                                    return false;
                                }

                            });
                            if (result.length == 0) {
                                //لو جايه بداتا فاضيه (ملقتش نتايج مطلوبه).ء
                                html += '<li style="text-align:center;">No Results</li>';
                            }

                            $('#searchitems').html(html).css("display", "block");
                        }
                    });
                }
            });

            $(document).on('click', function (e) {
                //to hide search results Box after clicking outside(SearchBox Or ResultsBox)
                var container1 = $("#searchitems");
                var container2 = $("#txtsearch");
                if (!($(e.target).closest(container1).length || $(e.target).closest(container2).length)) {
                    container1.hide();
                }
            });

            $("#btnsearch").click(function () {
                debugger;
                var Number = $('#selectval').val();
                var Search = $('#txtsearch').val();
                //window.location.href = "/Home/Search?src=" + Search + "&num=" + Number + "&txt='ButtonOrBlus'";
                debugger;
                GetAllSearch(Number, Search);
            });

            GetMessagesCounterinuser("");

        });
        connection.start().then(function () {
        }).catch(function (arr) {
            return console.error(arr.toString());
        });

        connection.on("ReceiveMessage", function (message, txt, senderid, userid, dictionaryDandT) {

            if (txt == "My text as admin" && userID == userid) {
                GetMessagesCounterinuser("from receive");
            }

        });

        function GetMessagesCounterinuser(txt) {
            $.ajax({
                type: "GET",
                url: "/Home/GetMessagesCounter?userid=" + userID,
                dataType: "json",
                success: function (result) {
                    debugger;
                    //اول ما الصفحه تلود في اي وقت--> من غير ما يتبعت رساله
                    $('#MessagesCounterr').html(result).removeAttr('hidden');
                    if (result == 0) {
                        //اول ما الصفحه تلود لو مفيش ماسدجات مش متشافه هيخفي الدايره بالرقم
                        $('#MessagesCounterr').attr('hidden', 'hidden');
                    }
                    if (txt == "from receive") {
                        debugger;
                        //اكون جايه من الاستدعاء في الريسيف --> يعني الرساله لسه مبعوته
                        toastr.info('you have new message', '', { timeOut: 7000, positionClass: "toast-bottom-right", progressBar: true, iconClass: "toast-custom" });
                    }
                }
            });

        }
        function cartconnection() {
            let s = getItemStorage("Cart") || [];
            var arr = [];
            var notificationcount = 0;
            $.ajax({
                type: "GET",
                url: "/Home/GetAvailableProducts",
                dataType: "json",
                success: function (result) {
                    $.each(result, function (key, item) {
                        arr[key] = item;
                    });
                    $.each(s, function (key, item) {
                        if (arr[item.Code] == null) {
                            notificationcount++;
                        }
                    });
                    debugger;
                    var Counter = s.length - notificationcount;
                    $('#Counter').html(Counter);
                }
            });
        }
        function wishlistconnection() {
            if ((@HttpContextAccessor.HttpContext.Session.GetInt32("UserID").GetValueOrDefault()) != 0)
            {
                debugger;
                $("#UserName").css("display", "contents");
                $("#LogOut").css("display", "contents");
                $.ajax({
                    url: "/Home/WishListCounter",
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (Counter) {
                        $('#wishlistCounter').addClass("qty");
                        $('#wishlistCounter').text(Counter);
                    }
                });
            }
            else{
                $("#SignRegister").css("display", "contents");
            }
        }


        function GetAllSearch(number, search) {
            debugger;
            $.ajax({
                url: "/Home/Search?src=" + search + "&num=" + number,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //جيت بالليست هروح ع الفيو اعرضها
                    window.location = "/Home/SearchPage?src=" + search + "&num=" + number;
                    debugger;
                }
            });
            debugger;
        }
    </script>
</body>
</html>