@{
    ViewData["Title"] = "Case";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var Brand = ViewBag.Brand;
    var Case = ViewBag.Case;
}
<div class="content" style="background: #f1f2f7;">
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="/Admin/Admin/Index">Dashboard</a></li>
                                <li class="active"> Case </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style=" display: flex; justify-content: space-between;">
                            <strong class="card-title">Cases Table</strong>
                            <button type="button" class="btn btn-outline-info">+</button>
                        </div>
                        <div class="card-body">
                            <table id="tblCases" class="table table-striped table-bordered">
                                <thead>
                                    <tr style=" text-align: center;">
                                        <th style=" vertical-align: middle;">Name</th>
                                        <th style=" vertical-align: middle;">Code</th>
                                        <th style=" vertical-align: middle;">Brand</th>
                                        <th style=" vertical-align: middle;">Price</th>
                                        <th style=" vertical-align: middle;">Quantity</th>
                                        <th style=" vertical-align: middle;">Factory Size</th>
                                        <th style=" vertical-align: middle;">Rate</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Case)
                                    {
                                        <tr>
                                            <td>@item.CaseName</td>
                                            <td>@item.CaseCode</td>
                                            <td>@item.CaseBrand.BrandName</td>
                                            <td>@item.CasePrice</td>
                                            <td>@item.CaseQuantity</td>
                                            <td>@item.CaseFactorySize</td>
                                            <td>@item.CaseRate</td>
                                            <td>
                                                <a class="btn btn-primary" asp-route-id="@item.CaseCode">Edit</a> |
                                                <a class="btn btn-danger" asp-route-id="@item.CaseCode">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div>
<script src="~/js/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: "POST",
            url: "/Admin/Admin/UsersData",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    });
    function OnSuccess(response) {
        $("#tblCases").DataTable(
            {
                bLengthChange: true,
                lengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                columns: [{ title: 'ID', 'data': 'id' },
                { title: 'Name', 'data': 'name' },
                { title: 'Phone', 'data': 'telephone' },
                { title: 'Password', 'data': 'password' },
                { title: 'Latest Buy Time', 'data': 'latestBuyTime' },
                { title: 'Number Of Times', 'data': 'numberOfTimes' }]
            });
    };
</script>